<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <h4 class>Edit post</h4>

      <div class= "text-left">
              <%= attachment_image_tag @post, :image, :fill, 400, 300, format: 'jpeg', fallback: "noimage.png" %>
     </div>


        <%= form_with model: @post, local:true do |f| %>
          <h6>Title</h6>
          <div class><%= f.text_field :title, class: "border boder-secondary rounded" %></div>

          <h6>Genre</h6>
          <%= f.collection_select(:genre_id, Genre.all, :id, :title) %>

          <h6>Area</h6>
          <%= f.collection_select(:area_id, Area.all, :id, :title) %>

          <h6>Caption</h6>
          <%= f.text_area :body, autofocus: true, id:"Body", placeholder:"Caption"%>

          <%= f.hidden_field :user_id, :value=> current_user.id %>

          <div class= "my-5"><%= f.submit "Update", class: 'btn btn-outline-success' %></div>
        <% end %>
      </div>
    </div>
  </div>