<p id="notice"></p>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">

      <div class="search-form text-right">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, class: 'border rounded-pill' %>
          <%= f.submit "ðŸ”" , class: 'border-0 rounded-pill'%>
        <% end %>
      </div>


      <div><%#= @tag_list.each do |list| %>
        <div>
             <%#= list.name %>
             <%#="(#{list.posts.count})" %><%# end %>

        </div>
      </div>

      <div>
        <h4 class="my-3 ml-3">Recommend</h4>
        <% #@post_like_ranks.with_index(1)each do |post, i| %>
        <h6>No.<%#= i %></h6>
        <%#= post.title %>
        <%# end %>
      </div>



      <h4 class="my-3 ml-3">Posts</h4>

         <div class= "my-3 ml-3 text-center">
          <div class= "text-left"><%= link_to "New Post", new_post_path, class: 'btn btn-outline-primary ' %></div>
        </div>
    </div>

        <% @posts.each do |post| %>
        <div class="col-md-3">
          <div class="product-item">
            <section class="product-text">
              <%= link_to post_path(post.id) do %>
                <%= attachment_image_tag post, :image, :fill, 200, 150, format: 'jpeg', fallback: "noimage.png" %>
              <% end %>
              <div><%= post.title %></div>
              <div><%= post.user.account %></div>
              <div id="like"><%= render "public/likes/like", post: post %></div>
            </section>
          </div>
        </div>
        <% end %>
      </div>
  </div>