<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">
      <h4>New Post</h4>

      <%= form_with model: @post, url:posts_path, local:true do |f| %>

        <div class= "offset-4 my-3">
          <h6>Title</h6>
          <%= f.text_field :title %>

          <h6>Genre</h6>

          <h6>Area</h6>

          <h6>Caption</h6>
          <%= f.text_area :body %>

          <h6>Image</h6>
          <%= f.attachment_field :image %>



          <div class= "my-5"><%= f.submit 'Create', class: 'btn btn-outline-dark' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
