<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">
      <h4>New Post</h4>

      <%= form_with model: @post, url:posts_path, local:true do |f| %>

        <div class= "offset-4 my-3">
          <h6>Title</h6>
          <%= f.text_field :title, class: "border boder-secondary rounded" %>

          <h6>Genre</h6>
          <%= f.collection_select(:genre_id, Genre.all, :id, :title) %>

          <h6>Area</h6>
          <%= f.collection_select(:area_id, Area.all, :id, :title) %>

          <h6>Caption</h6>
          <%= f.text_area :body, class: "border boder-secondary rounded" %>

          <h6>Image</h6>
          <%= f.attachment_field :image, class: "border boder-secondary rounded" %>

          <%= f.hidden_field :user_id, :value=> current_user.id %>

          <h6>Tag</h6>
          <p>"スペースを入力することで複数のタグを付けることができます。"</p>
          <%= f.text_field :name, class: "border boder-secondary rounded" %>


          <div class= "my-5"><%= f.submit 'Create', class: 'btn btn-outline-dark' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
