<p id="notice"></p>
<div class="container">

    <h4 class="text-center my-5"><%= @post.title %></h4>
    <div class="row my-4">
        <div class= "col-md-6">
                <%= attachment_image_tag @post, :image, :fill, 400, 300, format: 'jpeg', fallback: "noimage.png" %>
        </div>

          <div class= "col-md-6">
             <h5 class><%= link_to prof_path(@post.user.id) do %>
                 <%= @post.user.account %>
                 <% end %>
             </h5>

             <div class><%= @post.genre.title %></div>
             <div class><%= @post.area.title %></div>
             <p><%= @post.body %></p>
             <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>

              <div>
               <% @post_tags.each do |tag| %>
                    <button type ="button" class="btn btn-outline-secondary btn-sm mx-1 border rounded-pill">
                      <%= link_to tag.name,search_tag_path(tag_id: tag.id)%>
                    </button>
                <% end %>
              </div>

             <div id="like"><%= render "public/likes/like", post: @post %></div>


            <div class>
               <% if @post.user == current_user %>
                  <%= link_to "Back", posts_path, class: 'btn btn-outline-primary' %>
                  <%= link_to "Destroy", post_path(@post), method: :delete,
                  data: {confirm: "Are you sure you want to delete?"},
                  class: 'btn btn-outline-danger' %>
                  <%= link_to "Edit", edit_post_path(@post.id), class: 'btn btn-outline-success' %>
               <% end %>
             </div>
          </div>
      </div>
</div>

