<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


        <h3 class="my-4"><%= @post.title %></h3>
        <div class>
              <%= attachment_image_tag @post, :image, :fill, 400, 300, format: 'jpeg', fallback: "noimage.png" %>
        </div>

         <h5><%= @post.user.account %></h5>
         <div class><%= @post.genre.title %></div>
         <div class><%= @post.area.title %></div>
         <p><%= @post.body %></p>
         <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
         <div class><%#= @post_tags.each do |tag| %>
                    <%#= link_to  tag_posts_path(tag_id: tag.id) do %>
                    <%#= tag.name %>
                    <%# end %>
                    <%# end %>
          </div>

         <div id="like"><%= render "public/likes/like", post: @post %></div>


         <% if @post.user == current_user %>
            <%= link_to "Back", posts_path, class: 'btn btn-outline-primary' %>
            <%= link_to "Destroy", post_path(@post), method: :delete, class: 'btn btn-outline-danger' %>
            <%= link_to "Edit", edit_post_path(@post.id), class: 'btn btn-outline-success' %>
         <% end %>

    </div>
  </div>
</div>

