<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class=" col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


      <h4>Sign up</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :last_name,"Last Name" %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :first_name,"First Name" %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :account_name,"Account Name" %><br />
          <%= f.text_field :account, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :telephone_number,"Telephone Number" %><br />
          <%= f.text_field :telephone_number, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email,"Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password,"Password" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,"Password(for check confirmation)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions my-4">
          <%= f.submit "Sign up", class: 'btn btn-outline-dark' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
