<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <h4 class= "text-center my-4">Genre</h4>

      <div class = "text-right my-4">

        <%= form_with model: @genre, local:true do |f| %>
          <%= f.text_field :title %>
          <%= f.submit 'Create', class: 'btn btn-outline-success' %>
        <% end %>
      </div>

      <table class ="table">
        <% @genres.each do |genre| %>
            <tr>
                <div class="genre-item">
                  <section class="genre-text">
                    <td><div class="genre-heading"><%= genre.id %></div></td>
                    <td><%= genre.title %></td>
                    <td><%= link_to "Delete", admin_genre_path(genre.id), method: :delete, class: 'btn btn-outline-danger' %></td>

                  </section>

                </div>
              <% end %>
            </tr>
      </table>





