<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <h4 class>Area</h4>

      <h5>New Area</h5>
      <li>
        <%= link_to '投稿フォーム', new_admin_area_path %>
      </li>


      <table class = "table">
        <% @areas.each do |area| %>
            <tr>
                <div class="area-item">
                  <section class="area-text">

                    <td><%= area.id %></td>

                    <td><%= attachment_image_tag area, :image, :fill, 40, 30, format: 'jpeg' %><td>

                    <td><%= area.title %></td>


                    <td><%= link_to "削除", admin_area_path(area.id), method: :delete %></td>

                  </section>

                </div>
              <% end %>
            </tr>
      </table>





