<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <div class= "text-right my-4"><%= link_to 'New Area', new_admin_area_path, class: 'btn btn-outline-primary' %></div>



      <table class = "table">
        <% @areas.each do |area| %>
            <tr>
                <div class="area-item">
                  <section class="area-text">

                    <td><%= area.id %></td>

                    <td><%= attachment_image_tag area, :image, :fill, 40, 30, format: 'jpeg' %><td>

                    <td><%= area.title %></td>


                    <td><%= link_to "Delete", admin_area_path(area.id), method: :delete, class: 'btn btn-outline-danger' %></td>

                  </section>

                </div>
              <% end %>
            </tr>
      </table>





