<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

        <%= form_with model: @user, url: user_path(current_user.id),local: true do |f| %>

        <h4 class="text-center my-4"><%= @user.account %>さんの会員情報編集</h4>

        <table class ="my-5 mx-5">

        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
        </tr>

        <tr>
          <td>アカウント名</td>
          <td><%= f.text_field :account %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>

        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>



      </table>



          <div><%= f.submit '変更内容を保存', class: 'btn btn-success' %><%#=link_to "退会する", check_path(current_customer.id), class: 'btn btn-danger' %></div>
        <% end %>
      </div>
    </div>
  </div>