<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">

      <%= form_with model: @user, url: user_path(current_user.id),local: true do |f| %>
        <div class= "my-5 mx-4">
            <h4 class="text-center my-4">Edit <%= @user.account %>'s information</h4>

            <table class ="my-5 mx-5">

            <tr>
              <td>Name</td>
              <td><%= f.text_field :last_name, class: 'border border-secondary rounded' %>
              <%= f.text_field :first_name, class: 'border border-secondary rounded' %></td>
            </tr>

            <tr>
              <td>Account name</td>
              <td><%= f.text_field :account, class: 'border border-secondary rounded' %></td>
            </tr>

            <tr>
              <td>Email</td>
              <td><%= f.text_field :email, class: 'border border-secondary rounded' %></td>
            </tr>

            <tr>
              <td>Telephone number</td>
              <td><%= f.text_field :telephone_number, class: 'border border-secondary rounded' %></td>
            </tr>
        </div>
      </table>

        <div class= "text-center my-4"><%= f.submit 'Update', class: 'btn btn-outline-success' %>
          <%=link_to "Withdrawal", check_path(current_user.id), class: 'btn btn-outline-danger' %>
        </div>
       <% end %>
      </div>
    </div>
  </div>