<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


        <h3 class="text-center my-4">マイページ</h3>
        <table class="table">
          <thead>

          </thead>

          <tbody>
            <tr>
              <td>姓</td>
              <td><%= current_user.last_name %></td>
            </tr>

            <tr>
              <td>名</td>
              <td><%= current_user.first_name %></td>
            </tr>

            <tr>
              <td>アカウント名</td>
              <td><%= current_user.account %></td>
            </tr>

            <tr>
              <td>メールアドレス</td>
              <td><%= current_user.email %></td>
            </tr>

            <tr>
              <td>電話番号</td>
              <td><%= current_user.telephone_number %></td>
            </tr>
          </tbody>
        </table>
      <div class= "button text-center">
        <%=link_to "編集する",edit_user_path(current_user.id), class: 'btn btn-success mx-4' %>
        <%=link_to "退会する",check_path(current_user.id), class: 'btn btn-danger mx-4' %></div>

      </div>
    </div>
  </div>