<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto ">


        <h3 class="text-center my-4">My Page</h3>
        <table class="table">
          <thead>

          </thead>

          <tbody>
            <tr>
              <td>Last Name</td>
              <td><%= current_user.last_name %></td>
            </tr>

            <tr>
              <td>First Name</td>
              <td><%= current_user.first_name %></td>
            </tr>

            <tr>
              <td>Account Name</td>
              <td><%= current_user.account %></td>
            </tr>

            <tr>
              <td>Email</td>
              <td><%= current_user.email %></td>
            </tr>

            <tr>
              <td>Telephone Number</td>
              <td><%= current_user.telephone_number %></td>
            </tr>
          </tbody>
        </table>
      <div class= "button text-center">
        <%=link_to "Edit",edit_user_path(current_user.id), class: 'btn btn-outline-success mx-4' %>
        <%=link_to "Unsubscribe",check_path(current_user.id), class: 'btn btn-outline-danger mx-4' %></div>

      </div>
    </div>
  </div>